body, html {
	background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Chuck Norris';
  font-style: normal;
  font-weight: normal;
  src: local('Chuck_Norris'), url('./Chuck_Norris.otf') format('opentype');
  }

h2{
  font-family: 'Chuck Norris';
  font-weight: 200;
  color: #ffffff;
}

button:hover{
  background-color: rgb(24, 22, 22);
  cursor: pointer;
}